.git/
**/.env
**/.env [0-9]*
secrets/*.txt
secrets/* [0-9].txt
infra/rabbitmq/definitions.json
infra/rabbitmq/definitions [0-9]*.json
**/target/
**/*.class
**/*.jar
**/*.war
**/.idea/
**/*.iml
**/__pycache__/
**/*.pyc
**/.pytest_cache/
**/.venv/
**/venv/
**/node_modules/
**/dist/
**/.DS_Store
**/*.log
**/.vscode/
.github/
sensors-simulator/.state/