.env
secrets/*
!secrets/*.example
infra/rabbitmq/definitions.json
target/
*.class
*.jar
*.war
.idea/
__init__.py
api/.mvn/
*.iml
__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/
node_modules/
dist/
.DS_Store
*.log
.vscode/
.github/
sensors-simulator/.state/
certs/*